<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="/js/whiteboard.js" defer></script>
</head>
<style>
    .canvas-wrapper{
        width: 90vw;
        height: 80vh;
        margin: auto;
        overflow: hidden;
        /* cursor: none; */
    }
    .pen{
        height: 20px;
        width: 20px;
    }
    .board-controls{
        display: flex;
        width: 90vw;
        margin: auto;
        margin-top: 20px;
    }
    .pointer{
        width:5px;
        height:5px;
        background:black;
        border-radius:50%;
        position:absolute;
        pointer-events:none;
        box-shadow:0 0 12px 3px black;
        z-index: 12;
    }
</style>

<body>
    <div class="canvas-wrapper" id="canvas-wrapper">
        <div class="pointer"></div>
        
        <canvas id="can" class="can" style="position:absolute;color: #fff; border: 5px solid black";
        top:10%;left:10%;border:2px solid;z-index: 5000;">
    </canvas>
    </div>
    <div class="board-controls">
        
        <div class="pen" style="background:green;" id="green" onclick="color(this)"></div>
        <div class="pen" style="background:blue;" id="blue" onclick="color(this)"></div>
        <div class="pen" style="background:red;" id="red" onclick="color(this)"></div>
        <div class="pen" style="background:yellow;" id="yellow" onclick="color(this)"></div>
        <div class="pen" style="background:orange;" id="orange" onclick="color(this)"></div>
        <div class="pen" style="background:black;" id="black" onclick="color(this)"></div>
        
        <div>
            <div style="width:15px;height:15px;background:white;border:2px solid;" id="white"
            onclick="color(this)"></div>
        </div>
        <img id="canvasimg" style="position:absolute;top:10%;left:52%;" style="display:none;">
        <input type="button" value="save" id="btn" size="30" onclick="save()" style="top:55%;left:10%;">
        <input type="button" value="clear" id="clr" size="23" onclick="erase()">
    </div>
    
    
</body>

</html>