


body{
    /* background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% ); */
    height: 100vh;
    width: 100vw;
    background-color: #1d0954;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.main{
    height: 30vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: var(--font1);
}

.text{
    font-size: 4vh;
}

.login-button{
    padding: 15px;
    border: 2px solid white;
    font-size: 0.9rem;
    border-radius: 10px;
    text-transform: uppercase;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.login-button:hover{
    cursor: pointer;
    background-color: #fff;
    font-weight: bold;
    color: #1d0954;
}

a{
    color: inherit;
    text-decoration: none;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -2;
  }